@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background: url(bg.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(250, 247, 247, 0.5);
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    outline: none;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 250;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form button{
    border: none;
    background:  rgba(194,194,194,0.713);
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form button:hover{
    opacity: 0.7;
    cursor:pointer;
}
@media (min-width: 200px) and (max-width: 1000px) {
    .container{
        background: url(bg.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form .title h1{
        color: black;
        text-align: center;
        font-size: 40px;
    }
    .container form input{
        padding-left: 5px;
        outline: none;
        border: none;
        font-size: 15px;
        margin-bottom: 5px;
        background: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-weight: 350;
        font-size: 22px;
        outline: none;
    }
    .container form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-radius: 10px;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        flex-wrap: wrap;
    }
    .container form #lastName,
    .container form #mobile{
    margin-left: -1px;
    }
    .container form textarea{
        border-bottom: 2px solid #fff;
        color: #fff;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .container form button{
        border: none;
        background:  rgba(194,194,194,0.713);
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
        padding: 0;
        transition: 0.3s;
        position: absolute;
        margin-top: 59%;
        margin-left: 75%;
    }
    
    .container form button:hover{
        opacity: 0.7;
        cursor:pointer;
    }
}